{% extends "home/base.html" %}

{% block content %}
  <h4 class="signup">구성원 인증하기</h4>
  <p class="signup-alarm">
     LG Display 사내 메일로 구성원 인증을 합니다.
  </p>
  <ul>
    <li>1. Email 입력 란에는 사내 메일을 입력해주세요.<br/>ex) abc@lgdisplay.com 또는 abc@lgdpartner.com</li><br/>
    <li>2. 비밀번호 입력 란에는 ShareTaxis에서 사용할 비밀번호를 입력해주세요. Let's 계정 비밀번호와는 무관합니다.</li>
  </ul><br/>
  
  
  <form method="post">
    {% csrf_token %}
      {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}

        {% if field.help_text %}
          <small style="display: none">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
      {% endfor %}
    
    <div class="row center-align">
      <button type="submit" class='waves-effect waves-light indigo btn'>구성원 인증하기</button>
    </div>
  </form>
  <p class="center-align">이미 인증한 회원이라면,</br></p>
  <p class="center-align"><a href="{% url 'login' %}">로그인하기</a></p>
{% endblock %}
